<div id="<%= dom_id profile %>">
  <div class="flex flex-col items-center w-full bg-cyan-50 rounded-lg border shadow-md">
    <br>
    <div>
      <%= image_tag(profile.avatar, width: 200, class:"rounded-full") if profile.avatar.attached? %>
      <% if !profile.avatar.attached? %>
        <img src="<%= asset_path( 'image-blank.png' ) %>" width= "200px" class="rounded-full" />
      <% end %>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <p class= "text-center">
            <%= profile.first_name %> <%= profile.last_name %> 
          </p>
        </h3>
        <h4>
          <p class="text-sm text-center font-bold">
            <%= profile.occupation %>
          </p>
        </h4>
        <div class="mt-2 text-center">
          <p>
            <span class="bg-green-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
            <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
            <b>Joined: <%= time_ago_in_words(profile.user.created_at) %>.</b>
            </span>
          </p>
          <br>
          <p class="mb-3 text-sm">
            <strong>Location:</strong>
            <%= profile.location %>
          </p>

          <p class="mb-3 text-sm">
            <strong>Genre:</strong>
            <%= profile.genre %>
          </p>

          <p class="mb-3 text-sm">
            <strong>Telephone:</strong>
            <%= profile.telephone %>
          </p>

          <p class="mb-3 text-sm">
            <strong>Date birth:</strong>
            <%= profile.date_birth %>
          </p>

          <p class="mb-3 text-sm">
            <strong>Email:</strong>
            <%= profile.user.email %>
          </p>
          <br>
          <p>
            <%= link_to "Profile settings", edit_profile_path(profile), class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2" %> |
            <%= link_to "Account settings", edit_user_registration_path, class: "text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2" %>
          </p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
