<%= turbo_stream_from "posts" %>
<h1 class="font-bold text-cyan-900 text-4xl text-center p-5">Yorchblog.com</h1>
<div class="flex flex-row justify-center">
    <div class="ml-0 mr-0 w-1/5 p-10">        
        <div class="pt-4 pb-2 px-6">
            <a href="#!">
            <div class="flex items-center">
                <div class="shrink-0">
                <img src="<%= asset_path( 'Jorge.PNG' ) %>" width= "40px" class="rounded-full  m-auto" />
                </div>
                <div class="grow ml-3">
                    <%= link_to "Jorge Ortiz", 'https://www.linkedin.com/in/jorge-ortiz-ab1b18183/', class:"text-cyan-600 font-bold" %>
                </div>
            </div>
            </a>
        </div>
        <div class="relative p-5  text-center text-sm">
            <span class="font-bold">Yorchblog App.</span><br>
            <p class="text-xs text-justify mt-4">
                Yorchblog is a Facebook clone where you can add friends, share posts,
                comment users' posts and add likes. 
                Also, you can create your own profile and account, and edit them.
                All the files and images will be saved in Google Cloud Storage (GCS). 
            </p>
        </div>
    </div>
    <div class="w-3/5 flex flex-col">
        <div class="bg-gray-50 mt-5 mb-5 p-5 rounded-lg shadow-lg">
            <h3 class="font-medium text-cyan-900 text-2xl text-center">What are you thinking?</h3>
            <%= turbo_frame_tag "post_form" do %>
                <%= render "posts/form", post: @post %>
            <% end %>
        </div>
        <div>
            <div class="flex flex-col">
                <%= turbo_frame_tag "posts" do %>
                    <%= render @posts %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="ml-0 mr-0 w-1/5 p-5">
       <h3 class="font-medium text-cyan-900 text-2xl text-center">Users.</h3><br>
       <% @profiles.each do |profile| %>
            <div class="flex flex-row p-2 rounded-lg bg-cyan-50 shadow-lg">
                <div class="w-2/5 m-auto">
                    <%= image_tag(profile.avatar, width: 50, class:"rounded-full  m-auto") if profile.avatar.attached? %>
                    <% if !profile.avatar.attached? %>
                        <img src="<%= asset_path( 'image-blank.png' ) %>" width= "50px" class="rounded-full  m-auto" />
                    <% end %>
                </div>
                <div class="w-4/5 flex flex-col">
                    <%= link_to "#{profile.first_name} #{profile.last_name}", profile, class:"font-bold" %>
                    <span class="text-xs font-bold"><%= profile.occupation %></span>
                    <p>
                        <span class="bg-green-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded text-xs">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                        <b>Joined: <%= time_ago_in_words(profile.user.created_at) %>.</b>
                        </span>
                    </p>
                </div>
            </div>
            <br>
       <% end %>
    </div>
</div>
