<%#= turbo_frame_tag dom_id(post) do %>
    <div class="bg-cyan-50 mt-5 mb-5 p-5 rounded-lg shadow-lg flex flex-col">
        <div class="flex flex-row p-2">
            <div class="mr-5">
                <%= image_tag(post.user.profile.avatar, width: 50, class:"rounded-full  m-auto") if post.user.profile.avatar.attached? %>
                <% if !post.user.profile.avatar.attached? %>
                    <img src="<%= asset_path( 'image-blank.png' ) %>" width= "50px" class="rounded-full  m-auto" />
                <% end %>
            </div>
            <p>
                <%= link_to "#{post.user.profile.first_name} #{post.user.profile.last_name}", profile_path(post.user.profile), target: :_blank, class:"font-bold" %><br>
                <span class="text-xs font-bold"><%= post.user.profile.occupation %></span>
            </p>
            <div class="w-auto ml-auto mr-0 flex flex-row">
            <% if current_user == post.user %>
                <%= link_to "Edit post", edit_post_path(post), class:"text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
                <%= button_to "Delete post", post, method: :delete, form: { data: { turbo_confirm: "Are you sure?" }}, class:"text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
            <% end %>
            <% if !(request.path == post_path(post)) %>
                <%= link_to "Show post", post, class:"text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
            <% end %>
            </div>
        </div>
        <div>
            <div class="flex flex-row">
                <p class="text-sm mt-1 mb-1 ml-0 mr-auto">
                    <b>Created:</b> <%= time_ago_in_words(post.created_at) %>.
                </p>
                <p class="text-sm mt-1 mb-1 mr-0 ml-auto">
                <i class="far fa-comment"></i> <%= post.comments.count %>
                <% if !(Like.look_up_like(current_user.id, post.id).present?) %>
                    <%= link_to "", like_path(user: current_user.id, post: post.id), class:"far fa-thumbs-up" %> <%= post.likes.count %>
                <% else %>
                    <%= link_to "", dislike_path(user: current_user.id, post: post.id), class:"fas fa-thumbs-up" %> <%= post.likes.count %>
                <% end %>
                </p>
            </div>
            <p class="text-sm font-bold">
                <%= post.body %>
            </p>
            <% if post.images.attached? %>
              <div class="flex flex-row justify-center mt-5 mb-5">
              <% for i in 0...post.images.length %>
                <%= image_tag(post.images[i], width: 200, class: "ml-10 mr-10") %>
              <% end %>
              </div>
            <% end %>
        </div>
    </div>
    <br>
    <div>
        <%= render post.comments %>
    </div>
<%# end %>