<!DOCTYPE html>
<html>
  <head>
    <title>Yorchblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag asset_path('yorchblog-icon.PNG') %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Header -->
    <header>
      <%= render 'shared/header' %>
    </header>
    <!-- ------ -->

    <!-- Notice and alert. -->
    <% if notice %>
      <%= render 'shared/notice' %>
    <% elsif alert %>
      <%= render 'shared/alert' %>
    <% end %>
    <!-- ------ -->

    <!-- Pages -->
    <%= yield %>
    <!-- ------ -->

    <!-- Footer -->
    <br>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
    <!-- ------ -->

  </body>
</html>
